@using System.Collections.Generic;
@using VAPI.Models
@model VAPI.Models.Year

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style>
    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

        .active, .accordion:hover {
            background-color:#800000;
        }

        .accordion:after {
            content: '\002B';
            color: #777;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

    .active:after {
        content: "\2212";
    }

    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
</style>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>



<div>
    <img src="http://nine1.local/-/media/Images/Toyota/Trim-Images/Nav.ashx" />
</div>

<div><h2>@Model.Number</h2></div>
<div><h1>Full Specs</h1></div>
<table>
    <tr>
        @*<td>
                Standard Available Not Available
            </td>*@
        <td style="max-width:200px;"></td>
        @foreach (Trim trim in Model.Trims)
            {
            <td>@trim.Katashiki</td>

        }
    </tr>
    @*<tr>
                <td style="max-width:200px;"></td>
                @foreach (Trim trim in Model.Trims)
        {
                    <td>@trim.KatashikiCode</td>
                }
            </tr>*@
    <tr style="background-color:white;">
        <td style="max-width:200px;"></td>

        @foreach (Trim trim in Model.Trims)
            {
            <td>@trim.Description</td>
        }
    </tr>
    <tr>
        <td style="max-width:200px;">
            <img src="http://nine1.local/-/media/Images/Toyota/Trim-Images/SOP.ashx" />
        </td>

        @foreach (Trim trim in Model.Trims)
            {
            <td><img src="@trim.ImageUrl" /></td>
        }
    </tr>
</table>





<button class="accordion">Section 1</button>
<div class="panel">
    <p>
        <table>
            <tr>
                @*<td>
                        Standard Available Not Available
                    </td>*@
                <td style="max-width:200px;">sdfsdfds</td>
            </tr>
            <tr>
                @*<td>
                Standard Available Not Available
            </td>*@
                <td style="max-width:200px;">sdfsdfds</td>
            </tr>
        </table>
    </p>
</div>

<button class="accordion">Section 2</button>
<div class="panel">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<button class="accordion">Section 3</button>
<div class="panel">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>
