@using System.Collections.Generic;
@using System.Linq;
@model VAPI.Models.CommonModel

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

@if(Model == null || Model.FullTrims == null || Model.Tabs == null)
{
    <div> Empty Model</div>
    return;
}

@using (Html.BeginForm("FSOSave", "FSO", FormMethod.Post, new { id = "form", name = "form", ng_show = "selectedMonth != null" }))
{
    <div class="container">
        <h2>@Html.Sitecore().Field("SOP Matrix Guid", Sitecore.Context.Item)</h2> <input type="submit" name="submit" value="Save Your Inputs" /><br /><br />
        <ul class="nav nav-tabs">
            @foreach (Sitecore.Data.Items.Item tab in Model.Tabs)
            {
                string active = (Model.Tabs.IndexOf(tab) == 0) ? "active" : "";
                string hrefString1 = "#menu" + Model.Tabs.IndexOf(tab).ToString();
                <li class="@active"><a href="@hrefString1">@tab.Name</a></li>
            }
        </ul>

        <div class="tab-content">
            @foreach (Item tab in Model.Tabs)
            {
                string active = (Model.Tabs.IndexOf(tab) == 0) ? "active in" : "";
                string hrefString2 = "menu" + Model.Tabs.IndexOf(tab).ToString();
                int colSpan = Model.FullTrims.Count + 1;

                <div id="@hrefString2" class="tab-pane fade @active">
                    <table>
                        <tr>
                            <td style="max-width:200px;">Katashiki</td>
                            @foreach (VAPI.Models.FullTrim trim in Model.FullTrims)
                            {
                                <td>@Html.Sitecore().Field("Katashiki", trim.SitecoreTrim)</td>

                            }
                        </tr>
                        <tr>
                            <td style="max-width:200px;">Katashiki Code</td>
                            @foreach (VAPI.Models.FullTrim trim in Model.FullTrims)
                            {
                                <td>@Html.Sitecore().Field("Katashiki Code", trim.SitecoreTrim)</td>
                            }
                        </tr>
                        <tr>
                            <td style="max-width:200px;">Description</td>

                            @foreach (VAPI.Models.FullTrim trim in Model.FullTrims)
                            {
                                <td>@Html.Sitecore().Field("Description", trim.SitecoreTrim)</td>
                            }
                        </tr>

                        @foreach (Item subSection in tab.GetChildren())
                    {
                            <tr style="background-color:burlywood; font-weight:bold;">
                                <td colspan="@colSpan">@subSection.Name</td>
                            </tr>
                            foreach (Item spec in subSection.GetChildren())
                            {
                                <tr>
                                    <td style="max-width:200px;">@spec["Name Multiline"]</td>

                                    @foreach (VAPI.Models.FullTrim trim in Model.FullTrims)
                                    {
                                        List<string> matches = trim.SopMatrixGuid.Split('/').ToList();
                                        string match = matches.FirstOrDefault(x => x.Contains(spec.ID.ToString()));

                                        if (match != null)
                                        {
                                            string[] a = match.Split(':');

                                            <td>
                                                @if (FieldTypeManager.GetField(spec.Fields["Spec"]) is ValueLookupField)
                                                {
                                                    Item sourceItem = Sitecore.Context.Database.GetItem(spec.Fields["Spec"].Source);

                                                    ////List<string> options = sourceItem.GetChildren();
                                                    //List<Dictionary<string, string>> options = new List<Dictionary<string, string>>();

                                                    //foreach (Item item in sourceItem.GetChildren())
                                                    //{
                                                    //    options.ad
                                                    //}

                                                    //var options = from Item optionItem in sourceItem.GetChildren() select new List<Dictionary<string, string>> { Name };
                                                    <div>
                                                        @a[1]
                                                    </div>

                                                    <select>
                                                        @foreach (Item option in sourceItem.GetChildren())
                                                        {
                                                            string selected = (a[1] == option.Name) ? "selected" : "";
                                                            <option @selected>@option.Name</option>
                                                        }
                                                    </select>
                                                }
                                                else if (FieldTypeManager.GetField(spec.Fields["Spec"]) is TextField)
                                                {
                                                    <input type="text" value="@a[1]" />
                                                }
                                            </td>
                                        }
                                        else
                                        {
                                        <td>NOT FOUND</td>
                                        }
                                    } 
                                </tr>
                            }
                        }
                    </table>
                </div>
            }
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $(".nav-tabs a").click(function () {
            $(this).tab('show');
        });
    });
</script>

