@using Sitecore.Data.Items
@using VAPI.Models
@using System.Collections.Generic;
@using System.Linq;
@model FsoModel

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<div class="container">
    <h2>FSO/Vertical blah</h2>
    <ul class="nav nav-tabs">
        @foreach (Sitecore.Data.Items.Item tab in Model.Tabs)
        {
            string active = (Model.Tabs.IndexOf(tab) == 0) ? "active" : "";
            string hrefString1 = "#menu" + Model.Tabs.IndexOf(tab).ToString();
            <li class="@active"><a href="@hrefString1">@tab.Name</a></li>
        }
    </ul>

    <div class="tab-content">
        @foreach (Item tab in Model.Tabs)
            {
                string active = (Model.Tabs.IndexOf(tab) == 0) ? "active in" : "";
                string hrefString2 = "menu" + Model.Tabs.IndexOf(tab).ToString();
                int colSpan = Model.Trims.Count + 1;

            <div id="@hrefString2" class="tab-pane fade @active">
                <table>
                    <tr>
                        <td>Katashiki</td>
                        @foreach (Sitecore.Data.Items.Item trim in Model.Trims)
                        {
                            <td>@Html.Sitecore().Field("Katashiki", trim)</td>
                        }
                    </tr>
                    <tr>
                        <td>Katashiki Code</td>
                        @foreach (Sitecore.Data.Items.Item trim in Model.Trims)
                        {
                            <td>@Html.Sitecore().Field("Katashiki Code", trim)</td>
                        }
                    </tr>
                    <tr>
                        <td>Description</td>

                        @foreach (Sitecore.Data.Items.Item trim in Model.Trims)
                        {
                            <td>@Html.Sitecore().Field("Description", trim)</td>
                        }
                    </tr>

                    @foreach (Item subSection in tab.GetChildren())
                    {
                        <tr style="background-color:burlywood; font-weight:bold;">
                            <td colspan="@colSpan">@subSection.Name</td>
                        </tr>
                        foreach (Item spec in subSection.GetChildren())
                        {
                            <tr>
                                <td>@spec["Name Multiline"]</td>

                                @foreach (Item trim in Model.Trims)
                                {
                                    Item currentSpec = trim.Axes.GetDescendants().FirstOrDefault(x => x["Name Multiline"] == spec["Name Multiline"]);

                                    <td>
                                        @Html.Sitecore().Field("Spec", currentSpec)
                                    </td>
                                }
                            </tr>
                        }
                    }




                    @*<tr>
                            <td>8.1' Long Bed</td>

                        </tr>
                        <tr>
                            <td>Larger fuel tank (38-gallon)</td>

                        </tr>*@
                </table>
            </div>
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".nav-tabs a").click(function () {
            $(this).tab('show');
        });
    });
</script>
